<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
          <div class="masonry-gutter"></div>
          <% @deck_images.each do |deck_image| %>
            <div class="masonry-block">
              <div class="block block-image v1">
                <div class="block-image">
                  <div class="view view-first">
                    <%= attachment_image_tag post_image, :image %>
                  </div>
                </div>
                <div class="block-content">
                  <%= image_tag('sample-author1.jpg', class: "img-circle pull-left profile-thumb") %>
                  <h3 class="block-title">
                    <%= link_to deck_image_path(deck_image.id) do %>
                      <i class="fa fa-map-marker"></i><%= deck_image.deck_name %>
                    <% end %>
                  </h3>
                  <p><%= deck_image.caption %></p>
                  <ul class="inline-meta">
                    <li>By
                      <%= deck_image.user.name %>
                    </li>
                    <li>
                      <a href="#">23 コメント</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
	<p><%=link_to "デッキの投稿ページへ", new_deck_image_path, class: "btn btn-info col-xs-10 col-xs-offset-1" %></p>